For this challenge you need to create a simple SELECT statement that will return all columns from the products table,
and join to the companies table so that you can return the company name.

products table schema

id,

name,

isbn,

company_id,

price,

companies table schema: 

id,

name

You should return all product fields as well as the company name as "company_name".

link : https://www.codewars.com/kata/5802e32dd8c944e562000020/train/sql

In [1]:
print ('---------------------------')

---------------------------

SELECT p.*, c.name AS company_name

FROM products p LEFT JOIN companies c

ON p.company_id == c.id

In [1]:
print ('---------------------------')

---------------------------