Trolls are attacking your comment section!

A common way to deal with this situation is to remove all of the vowels from the trolls' comments, neutralizing the threat.

Your task is to write a function that takes a string and return a new string with all vowels removed.

For example, the string "This website is for losers LOL!" would become "Ths wbst s fr lsrs LL!".

Note: for this kata y isn't considered a vowel.

link :  https://www.codewars.com/kata/52fba66badcd10859f00097e/train/python

In [ ]:
def disemvowel(string_):
    vowels = 'AEIOUaeiou'
    for v in vowels:
        if v in string_:
            string_ = string_.replace(v, '')
    return string_

In [ ]:
disemvowel("This website is for losers LOL!")

In this kata you are required to, given a string, replace every letter with its position in the alphabet.

If anything in the text isn't a letter, ignore it and don't return it.

"a" = 1, "b" = 2, etc.

alphabet_position("The sunset sets at twelve o' clock.")
Should return "20 8 5 19 21 14 19 5 20 19 5 20 19 1 20 20 23 5 12 22 5 15 3 12 15 3 11" (as a string)

link : https://www.codewars.com/kata/546f922b54af40e1e90001da/train/python

In [ ]:
def alphabet_position(text):
    
    positions = []
    for l in text.lower():
        for i,s in enumerate(alphabet_string):
            if l == s:
                positions.append(str(i+1))
    
    return ' '.join(positions)

In [ ]:
text = "The sunset sets at twelve o' clock."
alphabet_position(text)



Return the number (count) of vowels in the given string.

We will consider a, e, i, o, u as vowels for this Kata (but not y).

The input string will only consist of lower case letters and/or spaces.

link : https://www.codewars.com/kata/54ff3102c1bad923760001f3/train/python

In [ ]:
def get_count(input_str):

    vowes = 'aeiou'
    
    return len([l for l in input_str.lower() if l in vowes])

In [ ]:
def find_short(s):
    # your code here
    lst_words = s.split(' ')
    l = len(lst_words[0])
    for word in lst_words:
        if len(word)<l:
            l = len(word)
        
    return l # l: shortest word length

Bob is preparing to pass IQ test. The most frequent task in this test is to find out which one of the given numbers differs from the others. Bob observed that one number usually differs from the others in evenness. Help Bob — to check his answers, he needs a program that among the given numbers finds one that is different in evenness, and return a position of this number.

iq_test("2 4 7 8 10") => 3 # Third number is odd, while the rest of the numbers are even

iq_test("1 2 1 1") => 2 # Second number is even, while the rest of the numbers are odd

link :  https://www.codewars.com/kata/552c028c030765286c00007d/train/python

In [ ]:
def iq_test(numbers):
    
    numbers_list = [int(n) for n in numbers.split()]
    modes = [n%2 for n in numbers_list]
    zeros = modes.count(0)
    ones = modes.count(1)
    if zeros > ones:
        return modes.index(1)+1
    else:
        return modes.index(0)+1

In [ ]:
print(iq_test("2 4 7 8 10"))
print(iq_test("1 2 1 1"))

The new "Avengers" movie has just been released! There are a lot of people at the cinema box office standing in a huge line. Each of them has a single 100, 50 or 25 dollar bill. An "Avengers" ticket costs 25 dollars.

Vasya is currently working as a clerk. He wants to sell a ticket to every single person in this line.

Can Vasya sell a ticket to every person and give change if he initially has no money and sells the tickets strictly in the order people queue?

Return YES, if Vasya can sell a ticket to every person and give change with the bills he has at hand at that moment. Otherwise return NO.


tickets([25, 25, 50]) # => YES 

tickets([25, 100]) # => NO. Vasya will not have enough money to give change to 100 dollars

tickets([25, 25, 50, 50, 100]) # => NO. Vasya will not have the right bills to give 75 dollars of change (you can't make two bills of 25 from one of 50)

link : https://www.codewars.com/kata/555615a77ebc7c2c8a0000b8/train/python

In [ ]:
bills = [25,25,50]

In [ ]:
def tickets(bills):
    
    count_25 =count_50 = count_100 = 0
    
    for bill in bills:

        if bill == 25: count_25+=1
        if bill == 50:
            if count_25<1:
                return 'NO'
            else:
                count_50+=1
                count_25-=1
        if bill == 100:
            if count_25 == 0: return 'NO'
            
            if count_25<3 and count_50<1: return 'NO'
            
            if count_25>=3 and count_50<1:
                count_100+=1
                count_25-=3
                
            if count_25>0 and count_50>0:
                count_100+=1
                count_50-=1
                count_25-=1
                
    return 'YES'

In [ ]:
tickets([25, 25, 50, 50, 100])

Move the first letter of each word to the end of it, then add "ay" to the end of the word. Leave punctuation marks untouched.

pig_it('Pig latin is cool') # igPay atinlay siay oolcay

pig_it('Hello world !')     # elloHay orldway !

link : https://www.codewars.com/kata/520b9d2ad5c005041100000f/train/python

In [ ]:
def pig_it(text):
    
    words = text.split()
    new_text=[]
    for word in words:
        if word.isalpha():
            new_word = word[1:]+word[0]+'ay'
            new_text.append(new_word)
        else: new_text.append(word)
    return ' '.join(new_text)

In [ ]:
pig_it('Hello world !')

#Find the missing letter

Write a method that takes an array of consecutive (increasing) letters as input and that returns the missing letter in the array.

You will always get an valid array. And it will be always exactly one letter be missing. The length of the array will always be at least 2.
The array will always contain letters in only one case.

Example:

['a','b','c','d','f'] -> 'e' ['O','Q','R','S'] -> 'P'

link : https://www.codewars.com/kata/5839edaa6754d6fec10000a2/train/python

In [ ]:
def find_missing_letter(chars):
    import string
    
    alphabet_string_lower = list(string.ascii_lowercase)
    alphabet_string_upper = list(string.ascii_uppercase)
    
    if chars[0] in alphabet_string_lower:

        positions = [i+1 for i,l in enumerate(alphabet_string_lower) if l in chars] # [int(alphabet_position(c)) for c in chars]
        for i in range(len(positions)-1):
            if positions[i] != (positions[i+1]-1):
                return alphabet_string_lower[positions[i]]
            
    else:
        positions = [i+1 for i,l in enumerate(alphabet_string_upper)  if l in chars] # [int(alphabet_position(c)) for c in chars]
        for i in range(len(positions)-1):
            if positions[i] != (positions[i+1]-1):
                return alphabet_string_upper[positions[i]]

Write a function named first_non_repeating_letter that takes a string input, and returns the first character that is not repeated anywhere in the string.

For example, if given the input 'stress', the function should return 't', since the letter t only occurs once in the string, and occurs first in the string.

As an added challenge, upper- and lowercase letters are considered the same character, but the function should return the correct case for the initial letter. 

For example, the input 'sTreSS' should return 'T'.

If a string contains all repeating characters, it should return an empty string ("") or None -- see sample tests.

link : https://www.codewars.com/kata/52bc74d4ac05d0945d00054e/python

In [ ]:
def first_non_repeating_letter(string):
    #print(string)
    d = {}
    singles = []
    for l in string.lower():
        if l in d : d[l]+=1
        else: d[l]=1
            
    for l in string:
        for k,v in d.items():
            if l.lower() == k and v == 1:
                singles.append(l)
    if len(singles) == 0: return ""
    else : return singles[0]

In [ ]:
first_non_repeating_letter('TJ1ra7a3g1OkNcat')

You are given an array (which will have a length of at least 3, but could be very large) containing integers.
The array is either entirely comprised of odd integers or entirely comprised of even integers except for a single integer N.
Write a method that takes the array as an argument and returns this "outlier" N.

link: https://www.codewars.com/kata/5526fc09a1bbd946250002dc/python

[2, 4, 0, 100, 4, 11, 2602, 36]
Should return: 11 (the only odd number)

[160, 3, 1719, 19, 11, 13, -21]
Should return: 160 (the only even number)

In [ ]:
def find_outlier(integers):
    
    modes = [n%2 for n in integers]
    ones =modes.count(1)
    zeros =modes.count(0)
    
    if zeros > ones:
        return integers[modes.index(1)]
    else:
        return integers[modes.index(0)]

Write a function that takes a string of parentheses, and determines if the order of the parentheses is valid. 
The function should return true if the string is valid, and false if it's invalid.


"()"              =>  true

")(()))"          =>  false

"("               =>  false

"(())((()())())"  =>  true

Along with opening (() and closing ()) parenthesis, input may contain any valid ASCII characters.
Furthermore, the input string may be empty and/or not contain any parentheses at all.
Do not treat other forms of brackets as parentheses (e.g. [], {}, <>).

link: https://www.codewars.com/kata/52774a314c2333f0a7000688/train/python

In [ ]:
def valid_parentheses(string):
    
    count_open = count_close = i = 0
    while i <= len(string)-1:

        if string[i] == ')' and count_open == 0:
            return False
        
        if string[i] == ')' and count_open == count_close:
            return False

        if string[i] == '(':
            count_open+=1

        if string[i] == ')':
            count_close+=1

        i+=1

    if count_open==count_close:
        return True

    else:
        return False

In [ ]:
valid_parentheses('hi())(')

Pete likes to bake some cakes. He has some recipes and ingredients.
Unfortunately he is not good in maths. Can you help him to find out, how many cakes he could bake considering his recipes?

Write a function cakes(), which takes the recipe (object) and the available ingredients (also an object)
and returns the maximum number of cakes Pete can bake (integer).
For simplicity there are no units for the amounts (e.g. 1 lb of flour or 200 g of sugar are simply 1 or 200).
Ingredients that are not present in the objects, can be considered as 0.

Examples:
    
# must return 2
cakes({flour: 500, sugar: 200, eggs: 1}, {flour: 1200, sugar: 1200, eggs: 5, milk: 200})
# must return 0
cakes({apples: 3, flour: 300, sugar: 150, milk: 100, oil: 100}, {sugar: 500, flour: 2000, milk: 2000})

In [ ]:
def cakes(recipe, ingridients):

    cakes_count=0
    
    if sum(ingridients.values())==sum(recipe.values()):
        return 1

    for product in recipe:
        if product not in ingridients:
            return cakes_count
        
    while sum(ingridients.values())>sum(recipe.values()):

        for product, number in recipe.items():
            for ingridient, count in ingridients.items():    
                if product==ingridient:
                    if count>=number:
                        ingridients[ingridient] = count - number
                    else: 
                        return cakes_count

        cakes_count+=1

    return cakes_count

In [ ]:
cakes({'cream': 1, 'flour': 3, 'sugar': 1, 'milk': 1, 'oil': 1, 'eggs': 1} , {'sugar': 1, 'eggs': 1, 'flour': 3, 'cream': 1, 'oil': 1, 'milk': 1})

Sheldon, Leonard, Penny, Rajesh and Howard are in the queue for a "Double Cola" drink vending machine; there are no other people in the queue.
The first one in the queue (Sheldon) buys a can, drinks it and doubles!
The resulting two Sheldons go to the end of the queue. 
Then the next in the queue (Leonard) buys a can, drinks it and gets to the end of the queue as two Leonards, and so on.

For example, Penny drinks the third can of cola and the queue will look like this:

Rajesh, Howard, Sheldon, Sheldon, Leonard, Leonard, Penny, Penny
Write a program that will return the name of the person who will drink the n-th cola.

Input:
The input data consist of an array which contains at least 1 name, and single integer n which may go as high as the biggest number your language of choice supports (if there's such limit, of course).

Output / Examples:
Return the single line — the name of the person who drinks the n-th can of cola. The cans are numbered starting from 1.

who_is_next(["Sheldon", "Leonard", "Penny", "Rajesh", "Howard"], 1) == "Sheldon"

who_is_next(["Sheldon", "Leonard", "Penny", "Rajesh", "Howard"], 52) == "Penny"

who_is_next(["Sheldon", "Leonard", "Penny", "Rajesh", "Howard"], 7230702951) == "Leonard"

In [ ]:
def who_is_next(names, r):
    
    if len(names)>r:
        return names[r-1]
    else:
        return names[r%len(names)]

In [ ]:
who_is_next(["Sheldon", "Leonard", "Penny", "Rajesh", "Howard"], 1)

In [ ]:
who_is_next(["Sheldon", "Leonard", "Penny", "Rajesh", "Howard"], 52)

Complete the function scramble(str1, str2) that returns true if a portion of str1 characters can be rearranged to match str2, otherwise returns false.

Notes:

Only lower case letters will be used (a-z). No punctuation or digits will be included.

Performance needs to be considered

Input strings s1 and s2 are null terminated.

Examples

scramble('rkqodlw', 'world') ==> True

scramble('cedewaraaossoqqyt', 'codewars') ==> True

scramble('katas', 'steak') ==> False

link : https://www.codewars.com/kata/55c04b4cc56a697bb0000048/train/python

In [ ]:
def scramble(s1,s2):
    d={}
    for l in s1:
        d[l] = d.get(l, 0) +1
        
    for l in s2:
        if l not in d or d[l] < 1:
            return False
        else:
            d[l] -= 1
    return True

In [ ]:
scramble('rkqodlwa', 'world')

In this kata we want to convert a string into an integer. The strings simply represent the numbers in words.

Examples:

"one" => 1
"twenty" => 20
"two hundred forty-six" => 246
"seven hundred eighty-three thousand nine hundred and nineteen" => 783919
Additional Notes:

The minimum number is "zero" (inclusively)
The maximum number, which must be supported is 1 million (inclusively)
The "and" in e.g. "one hundred and twenty-four" is optional, in some cases it's present and in others it's not
All tested numbers are valid, you don't need to validate them

In [ ]:
def addTwoNumbers(l_1,l_2):
    
    l_1.reverse()
    l_2.reverse()
    
    result = int(''.join([str(n) for n in l_1])) + int(''.join([str(n) for n in l_2]))
    outcome = [int(n) for n in str(result)]
    outcome.reverse()
    
    return int(''.join([str(n) for n in outcome]))

# Tech Interview at SKILLED

You are taking a flight over the sea and time to get to your destination takes t minutes.
Airline offers to you a list of movies where each movie has the number of minutes.
Create a function that returns True if any of 2 different  movies from the list match the exact time of your flight.
Function has to  return False if there is no match of 2 movies in the list that could match your flight time.

def check_movies(t, movies):
	“
	t - travel time in minutes
movies -list of integers   
”
	Return

Result :

	check_movies(120, [20,40,60,60]) - True
check_movies(160, [80, 110, 40]) - False
check_movies(160, [90, 110, 40]) - False
check_movies(160, [80, 80, 80]) - True
check_movies(160, [80, 110, 40]) - False

NOTE:
	You can not use a nested loop in your function.

In [ ]:
def check_movies(flight, movies):
    
    d = {}
    for movie in movies:
        d[movie] = d.get(movie, 0) +1
    
    for movie in movies:
        diff = flight - movie
       
        if diff in d and d[movie] >1:
            return True
    
    return False

In [ ]:
print(check_movies(120, [20,40,60,60]))
print(check_movies(160, [80, 110, 40]))
print(check_movies(160, [90, 110, 40]))
print(check_movies(160, [80, 80, 80]))
print(check_movies(160, [80, 110, 40]))

Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

Input: nums = [2,7,11,15], target = 9

Output: [0,1]

Output: Because nums[0] + nums[1] == 9, we return [0, 1].

In [ ]:
def twoSum(numbers, target):
    
    d = {}
    
    for i,number in enumerate(numbers):
        diff = target - number
        if diff not in d:
            d[number] = i
        else:
            return [d[diff], i]

In [ ]:
print(twoSum(numbers=[2,7,11,15], target=9))
print(twoSum(numbers=[3,2,4], target=6))

In [ ]:
def sum_of_intervals(intervals):
    
    interval = set()
    
    for data in intervals:
        if len(data) == 2 and data[0] < data[1]:
            for i in range(data[0],data[1]):
                interval.add(i)
    print(interval)
    return len(interval)

In [ ]:
print(sum_of_intervals( [
   [1,2],
   [6, 10],
   [11, 15]
] )) # // => 9

print(sum_of_intervals( [
   [1,4],
   [7, 10],
   [3, 5]
] )) # // => 7

print(sum_of_intervals( [
   [1,5],
   [10, 20],
   [1, 6],
   [16, 19],
   [5, 11]
] )) # // => 19

Greed is a dice game played with five six-sided dice.
Your mission, should you choose to accept it, is to score a throw according to these rules.
You will always be given an array with five six-sided dice values.

 Three 1's => 1000 points
 
 Three 6's =>  600 points
 
 Three 5's =>  500 points
 
 Three 4's =>  400 points
 
 Three 3's =>  300 points
 
 Three 2's =>  200 points
 
 One   1   =>  100 points
 
 One   5   =>   50 point

A single die can only be counted once in each roll. For example, a given "5" can only count as part of a triplet (contributing to the 500 points) or as a single 50 points, but not both in the same roll.

Example scoring

 Throw       Score
 ---------   ------------------
 5 1 3 4 1   250:  50 (for the 5) + 2 * 100 (for the 1s)
 1 1 1 3 1   1100: 1000 (for three 1s) + 100 (for the other 1)
 2 4 4 5 4   450:  400 (for three 4s) + 50 (for the 5)

In [ ]:
def score(dice):
    d = {}
    for n in dice:
        d[n] = d.get(n, 0) +1    
    d_={}

    summ =0
    
    for k,v in d.items():
     
        if k==2 and v>=3: summ+=200
        if k==3 and v>=3: summ+=300
        if k==4 and v>=3: summ+=400
        if k==6 and v>=3: summ+=600
            
        if k==1 and v>=3: summ+=1000; d_[k]=v-3 
        if k==1 and v<3: summ+=v*100    
        if k==5 and v>=3: summ+=500; d_[k]=v-3
        if k==5 and v<3: summ+=v*50
            
    for k,v in d_.items():
        if k==1: summ+=v*100
        if k==5: summ+=v*50

    return summ

In [ ]:
score([5,1,3,4,1])
score([1,1,1,3,1])

In [ ]:
def increment_string(strng):
    
    number = []
    letters =[]
    
    if len(strng) == 0:
        return strng+'1'
    
    if strng.isalpha():
        return strng+'1'
    
    else :   
        for i in range(len(strng)):
            
            if strng[i]=='0' and len(number)>0:
                number.append(int(strng[i]))

            if strng[i] in '1,2,3,4,5,6,7,8,9':
                number.append(int(strng[i]))
                
            else:
                 letters.append(strng[i])
    
    print(letters)        
    print(number)
    
    if len(number) == 0:
        return ''.join(letters)+'1'
    
    else:                 
        digit = int(''.join([str(n) for n in number]))+1
        
        if '0' in letter and  ==1:
            return ''.join(letters).replace('0',str(digit))
        else:
            return ''.join(letters)+str(digit)

In [ ]:
increment_string('09')

In [ ]:
# increment_string("foo")
#increment_string("foobar001")
# increment_string("foobar1")
#increment_string("foobar00")
# increment_string("foobar99")
increment_string("foobar099")
# increment_string("")

In [ ]:
l = ''.join(['f', 'o', 'o', 'b', 'a', 'r', '0'])

In [ ]:
n = '99'

In [ ]:
if l[-1] == '0':
    print(l.replace('0', '100'))

Sum of Pairs

Given a list of integers and a single sum value, return the first two values (parse from the left please) 
in order of appearance that add up to form the sum.

sum_pairs([11, 3, 7, 5],         10)

#              ^--^      3 + 7 = 10
== [3, 7]

sum_pairs([4, 3, 2, 3, 4],         6)
#          ^-----^         4 + 2 = 6, indices: 0, 2 *
#             ^-----^      3 + 3 = 6, indices: 1, 3
#                ^-----^   2 + 4 = 6, indices: 2, 4
#  * entire pair is earlier, and therefore is the correct answer
== [4, 2]

sum_pairs([0, 0, -2, 3], 2)
#  there are no pairs of values that can be added to produce 2.
== None/nil/undefined (Based on the language)

sum_pairs([10, 5, 2, 3, 7, 5],         10)
#              ^-----------^   5 + 5 = 10, indices: 1, 5
#                    ^--^      3 + 7 = 10, indices: 3, 4 *
#  * entire pair is earlier, and therefore is the correct answer
== [3, 7]

In [ ]:
def sum_pairs(ints, s):
    
    seen = set()
    
    for n in ints:
        diff = s -n
        if diff in seen:
            return[diff, n]
        seen.add(n)

In [ ]:
print(sum_pairs([11, 3, 7, 5],         10))
print(sum_pairs([4, 3, 2, 3, 4],         6))
print(sum_pairs([0, 0, -2, 3], 2))
print(sum_pairs([10, 5, 2, 3, 7, 5],         10))

https://www.codewars.com/kata/55b7bb74a0256d4467000070/python

In [206]:
def proper_fractions(n):
    
    if n==1:
        return 0
    
    lst = [1]
    to_remove = []
    for d in range(1,n):
        if d/n > 0 and d/n < 1:
            if n%d != 0:
                lst.append(d)
    
    for number in lst:
        for i in range(2,number+1):
            if number%i == 0 and n%i == 0:
                to_remove.append(number)
                
    return len([n for n in lst if n not in to_remove])

https://www.codewars.com/kata/5629db57620258aa9d000014/train/python

In [654]:
def mix(s1, s2):
    
    d1= {}
    d2= {}
    d3= {}
    
    for char in s1:
        if char.isalpha() and char.islower():
            d1['1:'+char] = d1.get('1:'+char, 0)+1
            
    for char in s2:
        if char.isalpha() and char.islower():
            d2['2:'+char] = d2.get('2:'+char, 0)+1
            
    d1 = {k:v for k,v in d1.items() if v >1}
    d2 = {k:v for k,v in d2.items() if v >1}
    
    keys1 = [k[-1] for k in d1]
    keys2 = [k[-1] for k in d2]
    
    if len(d2)==0:
        d3=d1
        
    if len(d1)==0:
        d3=d2
    
    if len(d1) !=0 and len(d2) != 0:
        for k1,v1 in d1.items():

            for k2,v2 in d2.items():

                if k2[-1] not in keys1:
                    d3[k2] = v2

                if k1[-1] not in keys2:
                    d3[k1] = v1

                if k1[-1]==k2[-1] and v1==v2:
                    d3[k1[-1]+'=:'] = v1

                if k1[-1]==k2[-1] and v1>v2:
                    d3[k1] = v1

                if k1[-1]==k2[-1] and v1<v2:
                    d3[k2] = v2       
    l= []

    for e in sorted(d3.items(), key = lambda k: (-k[1], k[0])):
            l.append(e)
    s = []
    
    for e in l:
        if '=' not in e[0]:
            s.append(e[0][:2]+e[1]*e[0][-1])
        else:
            s.append(e[0][1]+':'+e[0][0]*e[1])
                                                  
    return  '/'.join(s)

In [655]:
s1 = "Lords of the Fallen"
s2 = "gamekult"

In [656]:
mix(s1,s2)

'1:ee/1:ll/1:oo'

## Other Solutions:

In [647]:
def mix(s1, s2):
    hist = {}
    for ch in "abcdefghijklmnopqrstuvwxyz":
        val1, val2 = s1.count(ch), s2.count(ch)
        if max(val1, val2) > 1:
            which = "1" if val1 > val2 else "2" if val2 > val1 else "="
            hist[ch] = (-max(val1, val2), which + ":" + ch * max(val1, val2))
    return "/".join(hist[ch][1] for ch in sorted(hist, key=lambda x: hist[x]))

In [648]:
from collections import Counter

def mix(s1, s2):
    c1 = Counter(filter(str.islower, s1))
    c2 = Counter(filter(str.islower, s2))
    res = []
    for c in set(c1.keys() + c2.keys()):
        n1, n2 = c1.get(c, 0), c2.get(c, 0)
        if n1 > 1 or n2 > 1:
            res.append(('1', c, n1) if n1 > n2 else
                ('2', c, n2) if n2 > n1 else ('=', c, n1))
    res = ['{}:{}'.format(i, c * n) for i, c, n in res]
    return '/'.join(sorted(res, key=lambda s: (-len(s), s)))

In [649]:
def mix(s1, s2):
    s = []
    lett = "abcdefghijklmnopqrstuvwxyz"
    for ch in lett:
        val1, val2 = s1.count(ch), s2.count(ch)
        if max(val1, val2) >= 2:
            if val1 > val2: s.append("1:"+val1*ch)
            elif val1 < val2: s.append("2:"+val2*ch)
            else: s.append("=:"+val1*ch)
            
    s.sort()
    s.sort(key=len, reverse=True)
    return "/".join(s)

In [650]:
def mix(s1, s2):
    output = []
    for char in {c for c in s1 + s2 if c.islower()}:
        check = s1.count(char), s2.count(char)
        m = max(check)
        if m > 1:
            output += ["=12"[cmp(*check)] + ":" + m * char]
    output.sort(key = lambda x: (-len(x), x))
    return '/'.join(output)

# Social Golfer Problem Validator

https://www.codewars.com/kata/556c04c72ee1147ff20000c9/train/python

# Mongodb ObjectID

https://www.codewars.com/kata/52fefe6cb0091856db00030e/train/python

In [85]:
ones = {
    0: '', 1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six',
    7: 'seven', 8: 'eight', 9: 'nine', 10: 'ten', 11: 'eleven', 12: 'twelve',
    13: 'thirteen', 14: 'fourteen', 15: 'fifteen', 16: 'sixteen',
    17: 'seventeen', 18: 'eighteen', 19: 'nineteen'}
tens = {
    2: 'twenty', 3: 'thirty', 4: 'forty', 5: 'fifty', 6: 'sixty',
    7: 'seventy', 8: 'eighty', 9: 'ninety'}

In [936]:
def number_pos(i):
    if i < 20:
        return ones[i]
    if i < 100:
        return _join(tens[i // 10], ones[i % 10])
    if i < 1000:
        return _divide(i, 100, 'hundred')

In [937]:
number_pos(520)

'five hundred twenty'

In [898]:
def _divide(dividend, divisor, magnitude):
    return _join(
        number_pos(dividend // divisor),
        magnitude,
        number_pos(dividend % divisor),
    )

In [899]:
def _join(*args):
    return ' '.join(filter(bool, args))

In [900]:
[number_pos(n) for n in [8016, 8, 9, 9, 10, 10]]

[None, 'eight', 'nine', 'nine', 'ten', 'ten']

In [795]:
l.sort()

In [730]:
def return_single_num(s):
    for k,v in ones.items():
        if s == v:
            return k
    for k,v in tens.items():
        if s == v:
            return k

In [815]:
def return_double_num(s):
    l_num= []
    list_of_two = s.split(' ')
    
    if 'hundred' not in list_of_two:
        for sub in list_of_two:
            l_num.append(str(return_single_num(sub)))
    else:
        l_num.append(str(return_single_num(list_of_two[0]))+'00')
    return int(''.join(l_num))

In [830]:
def return_triple_number(s):
    l_num= []
    list_of_three = s.split(' ')
    
    if len(list_of_three) == 3 and list_of_three[1] == 'hundred':
        for sub in list_of_three:
            if sub != 'hundred':
                l_num.append(str(return_single_num(sub)))
    else:

        for sub in list_of_three:
            if sub != 'hundred':
                l_num.append(str(return_single_num(sub)))
            else:
                l_num.append('0')

    if len(l_num)>3:
        l_num.remove('0')
    return int(''.join(l_num))

In [831]:
def pos_number(s):
    count = s.count(' ')
    
    if count == 0:
        return return_single_num(s)
    
    if count == 1:
        return return_double_num(s)
    
    if count == 2:    
        return return_triple_number(s)
    
    if count == 3:    
        return return_triple_number(s)

In [832]:
pos_number('eight hundred eleven')

811

In [796]:
l

['four', 'one', 'three', 'two']

In [797]:
[pos_number(n) for n in l]

[4, 1, 3, 2]

In [109]:
def sort_by_name(arr):
    
    ones = {
            0: 'zero', 1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six',
            7: 'seven', 8: 'eight', 9: 'nine', 10: 'ten', 11: 'eleven', 12: 'twelve',
            13: 'thirteen', 14: 'fourteen', 15: 'fifteen', 16: 'sixteen',
            17: 'seventeen', 18: 'eighteen', 19: 'nineteen'
            }
    tens = {
            2: 'twenty', 3: 'thirty', 4: 'forty', 5: 'fifty', 6: 'sixty',
            7: 'seventy', 8: 'eighty', 9: 'ninety'
            }
        

    def number_pos(i):
        if i < 20:
            return ones[i]
        if i < 100:
            return _join(tens[i // 10], ones[i % 10])
        if i < 1000:
            return _divide(i, 100, 'hundred')
    
    def _divide(dividend, divisor, magnitude):
        return _join(
            number_pos(dividend // divisor),
            magnitude,
            number_pos(dividend % divisor),)
    
    def _join(*args):
        return ' '.join(filter(bool, args))

    
    words_lst = [number_pos(n) for n in arr]
    words_lst.sort()
    
    
    def return_single_num(s):
      
        for k,v in ones.items():
            if s == v:
                return k
        for k,v in tens.items():
            if s == v:
                return k*10    
            
    def return_double_num(s):
        l_num= []
        list_of_two = s.split(' ')
        
        if 'hundred' not in list_of_two:
            for sub in list_of_two:
                if sub not in tens.values():
                    l_num.append(str(return_single_num(sub)))
                else:
                    for k,v in tens.items():
                        if sub == v:
                            l_num.append(str(k))
        else:
            l_num.append(str(return_single_num(list_of_two[0]))+'00')
        
        return int(''.join(l_num))  
    
    def return_triple_number(s):
        l_num= []
        list_of_three = s.split(' ')
        
        if len(list_of_three)==4:
            for sub in list_of_three:
                if sub in ones.values(): 
                    l_num.append(str(return_single_num(sub)))
                if sub in tens.values():
                    for k,v in tens.items():
                        if sub == v:
                            l_num.append(str(k))   
             
            
        elif list_of_three[2] in ones.values():        
            for sub in list_of_three:
                if sub != 'hundred':
                    l_num.append(str(return_single_num(sub)))
                else:
                    l_num.append('0')
                    
            if len(l_num[-1]) >1:
                l_num.remove('0')
                
        elif list_of_three[2] in tens.values():
            for sub in list_of_three:
                if sub != 'hundred':
                    l_num.append(str(return_single_num(sub)))
                else:
                    pass
            l_num.append('0')
        
        elif 'hundred' not in list_of_three:
            for sub in list_of_three:
                l_num.append(str(return_single_num(sub)))

                
        return int(''.join(l_num))
    

    def pos_number(s):
        count = s.count(' ')

        if count == 0:
            return return_single_num(s)

        if count == 1:
            return return_double_num(s)

        if count == 2:    
            return return_triple_number(s)

        if count == 3:    
            return return_triple_number(s)
    
    return [pos_number(n) for n in words_lst]

In [108]:
print(sort_by_name([99]))

['ninety nine']
[99]

# 7kyu

https://www.codewars.com/kata/586a1af1c66d18ad81000134/train/python

In [261]:
def driver(data):
    
    first_n, middle_n, last_n, dob, sex = tuple(data)
    
    #1-5:
    if len(last_n)>=5:
        one_five=last_n[:5].upper()
    else:
        n = 5-len(last_n)
        one_five=(last_n+n*'9').upper()
    
    #6:
    six = dob[-2]
    
    
    months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    for month in months:
        if month in dob:
            n = str(months.index(month)+1)
            if len(n)==1:
                n='0'+n

    if sex == 'M':
        seven_eight = n
    else:
        seven_eight = str(int(n[0])+5)+n[-1]
    
#     #7-8:
#     from dateutil.parser import parse
#     if sex == 'M':
#         seven_eight = datetime.strftime(parse(dob), '%m')
#     else:
#         month = datetime.strftime(parse(dob), '%m')
#         seven_eight = str(int(month[0])+5)+month[-1]
    
    dob_list = dob.split('-')
    nine_ten = dob_list[0]
    
#     #9-10:
#     nine_ten = datetime.strftime(parse(dob), '%d')

    eleven = dob_list[-1][-1]
    
#     #11:
#     eleven = datetime.strftime(parse(dob), '%y')[-1]
    
    #12-13
    if len(middle_n)==0:
        twelve_thirteen = first_n[0]+'9'
    else:
        twelve_thirteen = first_n[0]+middle_n[0]
    
    return ''+one_five+six+seven_eight+nine_ten+eleven+twelve_thirteen+'9'+'AA'

In [262]:
driver(['Johanna', '', 'Gibbs', '13-Dec-1981', 'F'])

'GIBBS862131J99AA'